# Express Server Configuration
PORT=3001

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/ecommerce"
DIRECT_URL="postgresql://user:password@localhost:5432/ecommerce"

# Environment
NODE_ENV=development
